<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href={{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }} as="style" onload="this.onload=null;this.rel='stylesheet'" media="screen">
    <noscript><link href={{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet" media="screen"></noscript>
    <link href={{ url_for('static', filename='main.min.css') }} rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="description" content="High quality word and token alignments without requiring any parallel data. 
    Align two sentences (translations or paraphrases) across 100+ languages using multilingual BERT. No training required.">
    <title>SimAlign</title>
    </head>
    <body>

    <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/d3/d3.min.js') }}></script>
        {% block content %}{% endblock %}
    </body>
</html>