<!doctype html>
<html ng-app="myApp">
    <head>
    <meta http-equiv="cache-control" content="no-cache"> 
    <meta http-equiv="expires" content="0"> 
    <meta http-equiv="pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <!-- <link rel="preload" href={{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }} as="style" onload="this.onload=null;this.rel='stylesheet'" media="screen">
    <noscript><link href={{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }} rel="stylesheet" media="screen"></noscript>
    <link rel="preload" href={{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }} as="style" onload="this.onload=null;this.rel='stylesheet'" media="screen">
    <noscript><link href={{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet" media="screen"></noscript> -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link href={{ url_for('static', filename='main.css') }} rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="description" content="Parallel Corpus Explorer for massively parallel corpora.">
    <title>ParCourE</title>
    </head>
    <style>
        /* svg {
            width: 100%;
            height: 100%;
        }
         */
        path.slice{
            stroke-width:2px;
        }
        
        polyline{
            opacity: .3;
            stroke: black;
            stroke-width: 2px;
            fill: none;
        }

        .dropdown-menu{
            height: 300px;
            overflow: Auto;
        }
        
        .btn-group-xs > .btn, .btn-xs {
            padding: .25rem .4rem;
            font-size: .875rem;
            line-height: .5;
            border-radius: .2rem;
          }
        .toggle-handle {
            background-color: #fff;
            border-color: #ccc;
        }
        
        
    </style>
    <body>

    <!-- <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <!-- <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script> -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <script src={{ url_for('static', filename='./bower_components/d3/d3.min.js') }}></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.2.0/d3.min.js" integrity="sha512-C2RveGuPIWqkaLAluvoxyiaN1XYNe5ss11urhZWZYBUA9Ydgj+hfGKPcxCzTwut1/fmjEZR7Ac35f2aycT8Ogw==" crossorigin="anonymous"></script> -->
        

    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@master/dist/latest/bootstrap-autocomplete.min.js"></script>
    

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">

    
    
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="display-1 logo">ParCourE</h1>
            </div>

            <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" >
                <div id='toast'  style="background-color: #cdd;" aria-live="polite" aria-atomic="true"  class="toast" data-autohide="true" data-delay="1500" >
                    <div class="toast-body">
                    
                    </div>
                </div>
            </div>
            <script>
                function showToast(text) {
                    $('.toast-body').html(text);
                    $('.toast').toast('show');
                }
            </script>
        </div>
<!--         <div class="row">
            <div class="col"> -->
                <ul class="nav justify-content-center">
                <!-- <a href="/index">{% if request.path == "/index" or request.path == "/" %} <b>SimAlign</b> {% else %} SimAlign {% endif %}</a> | -->
                <li class="btn btn-light navbar-btn">                 
                    <a href="/multalign">{% if request.path == "/multalign" or request.path == "/index" or request.path == "/" %} <b>MultAlign</b> {% else %} MultAlign {% endif %}</a> 
                </li>
                <li type="button" class="btn btn-light navbar-btn">                 
                <a href="/lexicon">{% if request.path == "/lexicon"  %} <b>Lexicon</b> {% else %} Lexicon {% endif %}</a>
                </li>
                <li type="button" class="btn btn-light navbar-btn">                 
                <a href="/stats">{% if request.path == "/stats"  %} <b>Stats</b> {% else %} Stats {% endif %}</a>
                </li>
                <li type="button" class="btn btn-light navbar-btn">                 
                <a href="/information">{% if request.path == "/information"  %} <b>Information</b> {% else %} Information {% endif %}</a>
                </li>
                <li type="button" class="btn btn-light navbar-btn">
                <a href="/aligninduction">{% if request.path == "/aligninduction"  %} <b>alignInduction</b> {% else %} alignInduction {% endif %}</a> 
                </li>
            </ul>
                <!-- <hr/> -->
<!--             </div>
        </div> -->
        

        {% block content %}{% endblock %}
    
    <!-- 
    <footer class="fixed-bottom" style="z-index: -1;">
        <div class="container">
            <hr>
                        <a href="https://arxiv.org/pdf/2004.08728.pdf" target="_blank">Paper</a> |
                        <a href="https://github.com/cisnlp/simalign" target="_blank">Code</a> |
                        <div>Demo code (tbd) </div>
                        <a href="https://www.cis.uni-muenchen.de/" target="_blank">CIS - LMU Munich</a> |
                        <a href="https://www.cis.uni-muenchen.de/funktionen/impressum/index.html" target="_blank">Impressum</a>
            <hr>
        </div>
    </footer>
    -->
    </body>
</html>