{% extends "base.html" %}

{% block content %}
<div id="tool">
    <div id="description">
        <h1 class="display-1">SimAlign</h1>
        <div>
            <a href="https://arxiv.org/pdf/2004.08728.pdf" target="_blank">Paper</a> |
            <a href="https://github.com/masoudjs/simalign" target="_blank">Code</a> |
            <!-- <div>Demo code (tbd) </div> -->
            <a href="https://www.cis.uni-muenchen.de/" target="_blank">CIS - LMU Munich</a> |
            Impressum (tbd)
        <hr>
    </div>
    <div id="cockpit">
        <script src={{ url_for('static', filename='main.js') }}></script>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.english.label(class="formlabel") }}
                {{ form.english(size=48) }}
            </p>
            <p>
                {{ form.foreign.label(class="formlabel") }}
                {{ form.foreign(size=48) }}
            </p>
<!--             <p>
                {{ form.model(size=24) }}
            </p>
            <p>
                {{ form.method(size=24) }}
            </p> -->
            <p>{{form.recaptcha(class="g-recaptcha")}}</p>
            <p>{{ form.submit(class_="btn btn-primary btn-rounded formlabel") }}</p>
        </form>
    </div>
    {% if alignment %}
        <div id="alignment"></div>
        <script> 
            var alignment = {{ alignment | tojson | safe }}; 
            createGraph(alignment)
        </script>
    {% endif %}
</div>
{% endblock %}