{% extends "base.html" %}

{% block content %}
        <div id="bootstrapize" >
            
            <!-- <script>
                $('select').selectpicker();
            </script> -->

            <div class="row">
                <div class="col-8 font-weight-light" style="">
                Select a source language and enter a few words to translate.<br/>
                Select your desired target languages and hit the Submit button.<br>
                You will see an alignment based translation of the words in target languages.
                
                </div>
            </div>
            <br><br>

            <div  id="file_path">
                
            </div>
            <br>
            <div class="row">
                <script src={{ url_for('static', filename='main.js') }}></script>
                <form action="" method="post" novalidate class="col">
                    <div class="form-group">
                        {{ form.source_language.label() }}
                        {{ form.source_language(class="form-control") }}
                    </div>
                    {% if errorA %}
                        <div class="col-6 justify-content-center">
                            <p class="font-weight-bold text-danger myerror">
                                {{errorA}}
                            </p>
                        </div>
                    {% endif %}
                    <br/>

                    <div class="form-group">
                        {{ form.query(class="form-control") }}
                    </div>
                    {% if errorB %}
                        <div class="col-6 justify-content-center">
                            <p class="font-weight-bold text-danger myerror">
                                {{errorB}}
                            </p>
                        </div>
                    {% endif %}
                    <br/>

                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <!-- <div class="col-10"> -->
                        {{ form.target_languages.label() }}
                        {{ form.target_languages(class="selectpicker form-control ")}}
                        <!-- </div> -->
                    </div>
                    {% if errorC %}
                        <div class="col-6  justify-content-center">
                            <p class="font-weight-bold text-danger myerror">
                                {{errorC}}
                            </p>
                        </div>
                    {% endif %}
                    <br/>

                    <div class="col-6 d-flex justify-content-center">
                        <p>{{ form.submit(class_="btn btn-primary btn-rounded font-weight-bold") }}</p>
                    </div>
                </form>
            </div>    

                 
        </div>
    </div>
    
    {% if dictionary %}
        <script>
            
            var width = 700,
                height = 410,
                radius = Math.min(width, height) / 2;

            var pie = d3.layout.pie()
                .sort(null)
                .value(function(d) {
                    return d.value;
                });

            var arc = d3.svg.arc()
                .outerRadius(radius * 0.8)
                .innerRadius(radius * 0.4);

            var outerArc = d3.svg.arc()
                .innerRadius(radius * 0.9)
                .outerRadius(radius * 0.9);

            var key = function(d){ return d.data.label; };

            function change(data, svg, color) {
                svg.append("g")
                            .attr("class", "slices");
                        svg.append("g")
                            .attr("class", "labels");
                        svg.append("g")
                            .attr("class", "lines");

                svg.attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
                /* ------- PIE SLICES -------*/
                var slice = svg.select(".slices").selectAll("path.slice")
                    .data(pie(data), key);

                slice.enter()
                    .insert("path")
                    .style("fill", function(d) {console.log(d); return color(d.data.label); })
                    .on("click", function(d){
                        
                        var newForm = jQuery('<form>', {
                            'action': '/',
                            'method': 'post',
                        })
                        .append(jQuery('<input>', {
                            'name': 'verse',
                            'value': d['data']['source_word']
                        }));
                        for (i = 0; i< d['data']['target_language'].length; i++){
                            newForm.append(jQuery('<input>', {
                                'name': 'languages',
                                'value': d['data']['target_language'][i]
                            }));
                        }

                        for(i = 0; i< d['data']['verses'].length; i++){
                            newForm.append(jQuery('<input>', {
                                'name': "verses-"+i+"-verse_id",
                                'value': d['data']['verses'][i]
                            }))
                        }
                        
                        newForm.appendTo('body').submit();
                    })
                    .attr("class", "slice")
                    .on("mouseover", function() {
                                    d3.select(this).style("cursor", "pointer")
                                });

                slice		
                    .transition().duration(1000)
                    .attrTween("d", function(d) {
                        this._current = this._current || d;
                        var interpolate = d3.interpolate(this._current, d);
                        this._current = interpolate(0);
                        return function(t) {
                            return arc(interpolate(t));
                        };
                    })

                slice.exit()
                    .remove();

                /* ------- TEXT LABELS -------*/

                var text = svg.select(".labels").selectAll("text")
                    .data(pie(data), key);

                text.enter()
                    .append("text")
                    .attr("dy", ".35em")
                    .text(function(d) {
                        return d.data.label+"("+d.data.count+")";
                    });

                function midAngle(d){
                    return d.startAngle + (d.endAngle - d.startAngle)/2;
                }

                text.transition().duration(1000)
                    .attrTween("transform", function(d) {
                        this._current = this._current || d;
                        var interpolate = d3.interpolate(this._current, d);
                        this._current = interpolate(0);
                        return function(t) {
                            var d2 = interpolate(t);
                            var pos = outerArc.centroid(d2);
                            pos[0] = radius * (midAngle(d2) < Math.PI ? 1 : -1);
                            return "translate("+ pos +")";
                        };
                    })
                    .styleTween("text-anchor", function(d){
                        this._current = this._current || d;
                        var interpolate = d3.interpolate(this._current, d);
                        this._current = interpolate(0);
                        return function(t) {
                            var d2 = interpolate(t);
                            return midAngle(d2) < Math.PI ? "start":"end";
                        };
                    });

                text.exit()
                    .remove();

                /* ------- SLICE TO TEXT POLYLINES -------*/

                var polyline = svg.select(".lines").selectAll("polyline")
                    .data(pie(data), key);

                polyline.enter()
                    .append("polyline");

                polyline.transition().duration(1000)
                    .attrTween("points", function(d){
                        this._current = this._current || d;
                        var interpolate = d3.interpolate(this._current, d);
                        this._current = interpolate(0);
                        return function(t) {
                            var d2 = interpolate(t);
                            var pos = outerArc.centroid(d2);
                            pos[0] = radius * 0.95 * (midAngle(d2) < Math.PI ? 1 : -1);
                            return [arc.centroid(d2), outerArc.centroid(d2), pos];
                        };			
                    });

                polyline.exit()
                    .remove();
            };
        </script>
        <div class="row" style="text-align: center;">
            

            {% for term, translations in dictionary.items()%}
                {% for lang in translations.keys()%}
                    <div id="dataviz_{{term}}_{{lang}}" class="col" style="margin-bottom: 100px;"></div>
                    <script>
                    
                        // append the svg object to the body of the page
                        var svg = d3.select("#dataviz_{{term}}_{{lang}}")
                        .append("svg")
                        .attr("width", width )
                        .attr("height", height )
                        .append("g")
                                                
                        var data = {{translations[lang] | tojson | safe}}

                        var color = d3.scale.ordinal()
                            .domain(data["children"].map(function(d){return d["label"]}))
                            .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

                        change(data["children"], svg, color);

                    </script>
                {%endfor%}
            {%endfor%}

        </div>        
    {% endif %}

<!--     
    {% if dictionary %}
    <div class="row" style="text-align: center;">
    
        {% for term, translations in dictionary.items()%}
            {% for lang in translations.keys()%}
                <div id="dataviz_{{term}}_{{lang}}" class="col"></div>
                <script>
                    // set the dimensions and margins of the graph
                    var margin = {top: 30, right: 10, bottom: 10, left: 10},
                    width = 445 - margin.left - margin.right,
                    height = 445 - margin.top - margin.bottom;

                    // append the svg object to the body of the page
                    var svg = d3.select("#dataviz_{{term}}_{{lang}}")
                    .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform",
                            "translate(" + margin.left + "," + margin.top + ")");

                    var data = {{translations[lang] | tojson | safe}}
                    
                    // Give the data to this cluster layout:
                    var root = d3.hierarchy(data).sum(function(d){ return d.value}) // Here the size of each leave is given in the 'value' field in input data

                    // Then d3.treemap computes the position of each element of the hierarchy
                    d3.treemap()
                        .size([width, height])
                        .padding(2)
                        (root)

                    // use this information to add rectangles:
                    svg
                        .selectAll("rect")
                        .data(root.leaves())
                        .enter()
                        .append("rect")
                        .attr('x', function (d) { return d.x0; })
                        .attr('y', function (d) { return d.y0; })
                        .attr('width', function (d) { return d.x1 - d.x0; })
                        .attr('height', function (d) { return d.y1 - d.y0; })
                        .style("stroke", "black")
                        .style("fill", "slateblue")
                        .on("mouseover", function() {
                                    d3.select(this).style("cursor", "pointer")
                                })
                        .on("click", function(e,d){
                            console.log(d['source_word']);
                            var newForm = jQuery('<form>', {
                                'action': '/',
                                'method': 'post',
                            })
                            .append(jQuery('<input>', {
                                'name': 'verse',
                                'value': d['data']['source_word']
                            }))
                            .append(jQuery('<input>', {
                                'name': 'languages',
                                'value': d['data']['target_language']
                            }));

                            for(i = 0; i< d['data']['verses'].length; i++){
                                newForm.append(jQuery('<input>', {
                                    'name': "verses-"+i+"-verse_id",
                                    'value': d['data']['verses'][i]
                                }))
                            }
                            
                            newForm.appendTo('body').submit();
                        })

                    // and to add the text labels
                    svg
                        .selectAll("text")
                        .data(root.leaves())
                        .enter()
                        .append("text")
                        .attr("x", function(d){ return d.x0+5})    // +10 to adjust position (more right)
                        .attr("y", function(d){ return d.y0+20})    // +20 to adjust position (lower)
                        .text(function(d){ return d.data.name + "(" + d.data.value + ")" })
                        .attr("font-size", "15px")
                        .attr("fill", "white")
                    
                    svg.append("text")
                        .attr("x", (width / 2))             
                        .attr("y", 0 - (margin.top /3))
                        .attr("text-anchor", "middle")  
                        .style("font-size", "16px") 
                        .style("text-decoration", "underline")  
                        .text("{{term}} alignments in " + data['l_name']);


                </script>
            {%endfor%}
        {%endfor%}
    </div>        
    {% endif %} -->

 
    

{% endblock %}