{% extends "base.html" %}

{% block content %}
            
        <!-- <script>
            $('select').selectpicker();
        </script> -->

            <div class="card">
              <div class="card-header bg-light">
                Instructions
              </div>
              <div class="card-body">
<!--                 <h5 class="card-title">Special title treatment</h5>
 -->                <p class="card-text">
                With aggregated statistics of the word aligned parallel corpus it is possible to investigate the quality and identify potential issues in alignment and parallel corpus. For example by looking at the verse count, the number of aligned tokens or the vocabulary size.
                </p>
              </div>
            </div>

        <br><br>

        <div class="row">
            <script src={{ url_for('static', filename='main.js') }}></script>
            <form action="" method="post" novalidate class="col">
                <div class="form-group">
                    {{ form.stat_type.label() }}
                    {{ form.stat_type(class="form-control") }}
                </div>
                {% if errorA %}
                    <div class="col-6 justify-content-center">
                        <p class="font-weight-bold text-danger myerror">
                            {{errorA}}
                        </p>
                    </div>
                {% endif %}
                <br/>
                
                <div class="row">
                    <div class="col">
                    <div class="form-group">
                        {{ form.lang1.label() }}
                        {{ form.lang1(class="form-control") }}
                    </div>
                    </div>
                    
                    <div class="col">
                    <div class="form-group">
                        {{ form.lang2.label() }}
                        {{ form.lang2(class="form-control") }}
                    </div>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col">
                    <div class="form-group">
                        {{ form.edition_1.label() }}
                        {{ form.edition_1(class="form-control") }}
                    </div>
                    </div>
                    
                    <div class="col">
                    <div class="form-group">
                        {{ form.edition_2.label() }}
                        {{ form.edition_2(class="form-control") }}
                    </div>
                    </div>
                </div>
                <br/>


                <div class="form-group">
                    {{ form.minimum.label() }}
                    {{ form.minimum(class="form-control") }}
                </div>
                <br/>

                <div class="form-group">
                    {{ form.maximum.label() }}
                    {{ form.maximum(class="form-control") }}
                </div>
                <br/>

                <div class="form-group">
                    {{ form.bin_count.label() }}
                    {{ form.bin_count(class="form-control") }}
                </div>
                <br/>

                {{ form.hidden_tag() }}

                {% if form.recaptcha%}
                    <div class="form-group">
                    {{form.recaptcha(class="g-recaptcha")}}
                    </div>
                    <br>
                {% endif %}
                
                <div class="row">
                    <div class="col-2">
                        <p>{{ form.submitField(class_="btn btn-primary btn-rounded font-weight-bold") }}</p>
                    </div>
                </div>
            </form>
        </div>    
    </div>
    
    <div id="chart"></div>
    <div id="data" class="container"></div>
    <br/><br/><br/><br/><br/><br/>
    {% if stats %}

        <script type="module">
            console.log("hi")
            var stats = {{ stats | tojson | safe }};
            var bins = {{ stats["items"] | tojson | safe }};

            import define from "./static/stats.js";
            import {Runtime, Library, Inspector} from "./static/runtime.js";
            
            const runtime = new Runtime();
            // const main = runtime.module(define, Inspector.into(document.body));
            const main = runtime.module(define, name => {
            if (name === "chart") {
                return new Inspector(document.querySelector("#chart"));
            }
            });

            console.log(stats);
            try {
                main.redefine("data", stats);
                // main.redefine("bins", bins);
            } catch (error) {
                console.log(error);
            }
            
            
        </script>    
    {% endif %}
    

{% endblock %}

